/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  background-color: #dee3e6;
  background-image: url('/common/i/grain.png');
  background-image: url("/common/i/grain.png"), -webkit-gradient(linear, left top, left bottom, from(rgba(113, 126, 137, 0)), to(rgba(113, 126, 137, 0.2)));
  background-image: url('/common/i/grain.png'), -webkit-linear-gradient(top, rgba(113, 126, 137, 0), rgba(113, 126, 137, 0.2));
  background-image: url('/common/i/grain.png'),    -moz-linear-gradient(top, rgba(113, 126, 137, 0), rgba(113, 126, 137, 0.2));
  background-image: url('/common/i/grain.png'),     -ms-linear-gradient(top, rgba(113, 126, 137, 0), rgba(113, 126, 137, 0.2));
  background-image: url('/common/i/grain.png'),      -o-linear-gradient(top, rgba(113, 126, 137, 0), rgba(113, 126, 137, 0.2));
  background-image: url('/common/i/grain.png'),         linear-gradient(top, rgba(113, 126, 137, 0), rgba(113, 126, 137, 0.2));
  color: #383838;
  line-height: 18px;
}

#signIn {
    bottom: 0;
    left: 0;
    padding-right: 105px;
    position: absolute;
    top: 0;
    width: 393px;
}

.completing #signIn {
            transition: all 750ms ease;
       -moz-transition: all 750ms ease;
        -ms-transition: all 750ms ease;
         -o-transition: all 750ms ease;
    /**
     * The width is set in helpers.js->animateClose
     */
    -webkit-transition: all 750ms ease;
}



header, footer {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.05) inset;
    position: absolute;
    z-index: 2;
}

header {
    padding: 10px 20px;
    top: 0;
    /* The *padding is a fix for IE6 and IE7 showing scroll bars in the
     * unsupported dialog.  Since IE6 and IE7 do not support box-sizing:
     * border-box, the left and right padding cause these versions of IE to
     * overflow the dialog box.
     */
    *padding: 10px 0;
    border-bottom: 1px solid #c7c6c1;

    /*-ms-filter through zoom: 1 are fixes for IE6 and IE7 so they show the header
     */
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);
    zoom: 1;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,0));
    background-image:         linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,0));
    overflow: hidden;
}

header h1{ 
  float: left;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}


.home {
  background: url("/dialog/i/persona-logo-transparent.png") 0 0 no-repeat;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 161px;
  *display: block;
  zoom: 1;
}

footer {
    border-top: 1px solid #c7c6c1;
    bottom: 0;
    /* The *padding is a fix for IE6 and IE7 showing scroll bars in the
     * unsupported dialog.  Since IE6 and IE7 do not support box-sizing:
     * border-box, the left and right padding cause these versions of IE to
     * overflow the dialog box.
     */
    padding: 20px;
    *padding: 20px 0;
    text-align: center;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.05));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.05));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.05));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.05));
    background-image:         linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.05));
}

label {
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

label.selectable {
    cursor: pointer;
}

section {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table .vertical {
    display: table-cell;
    vertical-align: middle;
}

section > .contents {
    display: table-cell;
    height: 250px;
    vertical-align: middle;
}

.form_section {
    bottom: 15px;
    font-size: 13px;
    left: 15px;
    position: absolute;
    top: 15px;
    /**
     * Set the width of the container for when the arrow animation happens
     * otherwise the buttons slide right with the arrow
     */
    width: 250px;
    overflow-y: auto;
}

.form_section.vcenter {
    position: static;
    overflow-y: visible;
    /* The below 1px padding is part of a fix for a bug in webkit where there
     * is a ghost padding-right to accommodate the scroll bar that is shown
     * if there are many email addresses. The ghost padding caused the submit
     * button to shift when the user clicked on it, sometimes making the
     * submit button require two clicks.  The other half of the fix is in
     * screen_size_hacks.js, where an adjustment to the width is made.
     * These two in combination force Chrome to re-flow, which fixes its
     * own bug.
     */
    padding-right: 1px;
}

.form_section p {
    margin-top: 8px;
}



.contents > strong {
    display: none;
}

#content {
    bottom: 61px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 61px;
    /* Fix for IE6 not displaying the unsupported dialog correctly. IE6 by
     * default sets the height and width of the element to 0 meaning nothing
     * shows up on the screen.
     * Note, height is a magic number that depend on the height of the
     * dialog.  The height also depends on the height of the header and footer.
     */
    _width: 100%;
    _height: 250px;
}

#wait, #error, #delay, #tour {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;

    /* Set this to .25s for Android browser, 0.5 seconds makes it so that it
     * does not show */
    -webkit-transition-delay: 0.25s;
    transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;

    -webkit-transition-duration: 0.25s;
    transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;

    -webkit-transition-property: all;
    z-index: -1;
}

.tour #tour {
    display: block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    z-index: 1;
}

.waiting #wait {
    display: block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    z-index: 1;
}

.delay #delay {
    display: block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    z-index: 2;
}

.error #error, #error.unsupported, #error.cookies_disabled {
    display: block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    z-index: 3;
}

#error.unsupported {
  padding: 20px 0;
}

.unsupported {
  /*
   * These are fixes for IE6 - IE6 does not support the combination #id.class
   * selector, so we have to use just the class, and then prepend the css
   * attributes with _ so only IE6 renders them.
   */
  _padding: 20px 0;
  _width: 100%;
  _height: 100%;
}

#error.unsupported h2 {
  margin: 0 0 20px;
}

#error img {
    border: none;
}

#error .lighter {
    color: #777;
}

#wait .vertical, #error .vertical, #delay .vertical {
    padding: 0 20px;
}


#signIn .table {
    background-color: #eff0f2;
    padding: 0 20px;
}

.arrowContainer {
    bottom: 0;
    position: absolute;
    right:  0;
    top: 0;
    width: 105px;
}

.arrow {
    background-color: transparent;
    background-image: url('/dialog/i/arrow_grey.png');
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#favicon {
    bottom: 0;
    left: 400px; /* The same as the left padding of the left hand side */
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 10;
}

#favicon strong {
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0 1px #fff;
}

#favicon img {
    display: block;
    margin: 0 auto;
    max-height: 100px;
    max-width: 100px;
}

#favicon h2, #favicon h3 {
    line-height: 1.3em;    /* Use the same overflow for everything, this allows us to show the ellipsis.  Trying to set overflow-x only causes a scroll bar to be shown in firefox.  */
    margin: 10px 0 0 0;  /* the 1.3em is to keep y, g, j, etc from having their bottoms chopped off */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#favicon h2 {
    margin: 10px 0 0 0;
}

#favicon h3 {
    font-size: 16px;
    margin-top: 0;
}

#favicon .vertical {
    display: table-cell;
    max-width: 0;
    text-align: center;
}

div#required_email {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: .7em;
}

#selectEmail {
    bottom: 20px;
    left: 20px;
    overflow-y: auto;
    position: absolute;
    top: 20px;
    width: 250px;
}

#selectEmail.vcenter {
    overflow-y: visible;
    /* The below 1px padding is part of a fix for a bug in webkit where there
     * is a ghost padding-right to accommodate the scroll bar that is shown
     * if there are many email addresses. The ghost padding caused the submit
     * button to shift when the user clicked on it, sometimes making the
     * submit button require two clicks.  The other half of the fix is in
     * screen_size_hacks.js, where an adjustment to the width is made.
     * These two in combination force Chrome to re-flow, which fixes its
     * own bug.
     */
    padding-right: 1px;
    position: static;
}

.inputs > li {
  margin-top: 8px;
}

.inputs > li > label {
    overflow: hidden;
    text-overflow: ellipsis;
}

#selectEmail > .inputs > li {
    margin: 0;
}

#selectEmail > .inputs > li > label {
    padding: 3px 1px;
    white-space: nowrap;
}

#selectEmail > .inputs > li > label.preselected {
    font-weight: bold;
}

#selectEmail > .inputs > li:only-child > label.selectable {
    cursor: default;
}

#selectEmail > .inputs > li:only-child input[type=radio] {
    display: none;
}

.submit {
    color: #333;
    font-size: 11px;
    margin-top: 8px;
}

.submit > p {
  margin-top: 8px;
}

.tospp {
  color: #787878;
  font-size: 11px;
}

#rptospp {
  display: none;
  margin: 10px auto;
  max-width: 280px;
}

.rptospp #rptospp {
  display: block;
}

a.emphasize {
  background-color: #e5e9eb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e9eb), to(#d8dbde));
  background-image: -webkit-linear-gradient(top, #e5e9eb, #d8dbde);
  background-image:    -moz-linear-gradient(top, #e5e9eb, #d8dbde);
  background-image:     -ms-linear-gradient(top, #e5e9eb, #d8dbde);
  background-image:      -o-linear-gradient(top, #e5e9eb, #d8dbde);
  background-image:         linear-gradient(top, #e5e9eb, #d8dbde);
  border-bottom: 1px solid #b8babc;
  border-radius: 2px;
  color: #484848;
  display: inline-block;
  font-size: 11px;
  line-height: 22px;
  padding: 0 5px;
}

a.emphasize:hover,
a.emphasize:focus {
  background-color: #d8dbde;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8dbde), to(#ccc));
  background-image: -webkit-linear-gradient(top, #d8dbde, #ccc);
  background-image:    -moz-linear-gradient(top, #d8dbde, #ccc);
  background-image:     -ms-linear-gradient(top, #d8dbde, #ccc);
  background-image:      -o-linear-gradient(top, #d8dbde, #ccc);
  background-image:         linear-gradient(top, #d8dbde, #ccc);
}

a.emphasize:active {
  box-shadow: 0 0 5px #333 inset;
}


#back {
  border-bottom: 1px dotted;
  color: #000;
  font-weight: normal;
}

.submit > button {
    margin: 0 0 0 5px;
}

.newuser,
.returning {
    display: none;
}

#your_computer_content {
  margin: auto;
  max-width: 490px;
}

#your_computer_content li {
  line-height: 28px;
  margin: 15px 0;
  text-align: left;
}

#your_computer_content button {
  display: inline-block;
  float: none;
  margin: 0 10px 0 0;
}

.unsupported, .cookies_disabled {
  text-align: center;
}

/* Persona tour
 */

body.tour #content{
  bottom: 0;
  overflow: scroll;
}

body.tour footer{
  display: none;
}

#tour-content{
  padding: 30px 15px;
  max-width: 700px;
  margin: auto;
}

#tour-content article{
  border-bottom: 1px solid #bec3c5;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 30px;
}

#tour-content article:last-child, #tour-content .half{
  border-bottom: 0 none;
}

#tour-content .half{
  width: 50%;
  float: left;
}

#tour-content .half.first{
  padding-right: 30px;
}

#tour-content img{
  max-width: 100%;
  vertical-align: bottom;
}

#tour-content h1{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

#tour-content p{
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#tour-content p:last-child{
  margin-bottom: 0;
}

#tour-content .graphic{
  float: left; /* 255 / 670 */
  text-align: center;
  width: 38.0597015%;
}

#tour-content .info{
  float: left;
  padding: 5px 45px 0;
  width: 61.9402985%; /* 415 / 670 */
}

header .sign-in{
  float: right;
  margin-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}

.tour header .sign-in{
  display: inline-block;
}
